<div class="signup">
    <h1 class="signup-heading">Sign up</h1>

    <form action="#" class="signup-form" autocomplete="off" [formGroup]="myForm">
      <label for="fullname" class="signup-label">Email</label>
      <input #emailinput type="text" id="fullname" class="signup-input" placeholder="enter email" formControlName="email">
      <label for="email" class="signup-label">Password</label>
      <input #pwinput type="password" id="email" class="signup-input" placeholder="enter password" formControlName="password">
      <button class="signup-submit" (click)="onSignupButtonClicked(emailinput.value,pwinput.value)">Sign up</button>
    
    </form>
    <p class="signup-already">
      <span>Already have an account ?</span>
      <a href="#" class="signup-login-link">Login</a>
    </p>
  </div>